<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<div>
    <section class="nav-scope">
        <ul class="nav-section">
            <li class="nav-logo">
                <a th:href="@{/admin-home}" aria-label="Health Recipe">Health Recipe
                </a>
                <a th:href="@{/logout}">
                    <button type="button" class="nav-btn btn-primary btn-lg" style="float:right;">LogOut</button>
                </a>
            </li>
            <div class="nav-links">
                <li class="nav-recipes">
                    <a th:href="@{/admin/list}">Recipes</a>
                </li>
                <li class="nav-search">
                    <a th:href="@{/admin/search}">Search</a>
                </li>
                <li class="nav-add-recipes">
                    <a th:href="@{/add}">Add Recipes</a>
                </li>
                <li class="nav-add-ingredient">
                    <a th:href="@{/ingredient/add}">Add Ingredient</a>
                </li>
            </div>
        </ul>
    </section>
</div>
<header>
    <h1>Add Admin User </h1>
</header>

<form method="post" >

    <div class="form-group">
        <label>Name
            <input class="form-control" th:field="${registerFormDTO.name}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.name}"></p>
    </div>
    <div class="form-group">
        <label>Email
            <input class="form-control" th:field="${registerFormDTO.email}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.email}"></p>
    </div>
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />

</form>

</body>
</html>