@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

article,aside,details,figcaption,figure,header,hgroup,main,nav,section,summary {
    display: block
}

html {
    font-family: sans-serif
}

body {
    background-color: #003e21;
    font-size: 16px;
    font-size: 1rem;
    color: #f8d098;
    font-family: Montserrat;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none
}

ol,ul {
    margin: 0;
    padding: 0
}

.site-content {
    margin: 0 auto;
    max-width: 1270px;
    position: relative
}

.nav-section {
    background-color: #098b54;
    overflow: hidden
}

/* Health Recipe navigation */
.nav-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #F8D098;
    padding: 2px 0 10px 10px
}

/* Health Recipe navigation */
.nav-logo a {
    color: #f8d098;
    text-decoration: none
}

/* Recipes, Search, Add Recipe navigation */
.nav-links li{
    color: #f8D098;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 0 10px 14px
}

/* Recipes, Search, Add Recipe navigation */
.nav-links a {
    color: #f8d098;
    text-decoration: none
}

.nav-btn {
    background-color: #003e21;
    border: hidden;
    border-radius: 15px;
    box-shadow: 0 4px #f8d098;
    color: #f8d098;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
}

/* list-recipes.html-user selected recipe display*/
.item1 { grid-area: recipe; }
.item2 { grid-area: serve_time; }
.item3 { grid-area: servings; }
.item4 { grid-area: ingredients; }
.item5 { grid-area: steps; }

.grid-container {
  display: grid;
  grid-template-areas:
    'recipe recipe recipe recipe recipe recipe'
    'serve_time serve_time . . servings servings'
    'ingredients ingredients ingredients steps steps steps';
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  background-color: #003e21;
  margin: 4em auto;
  max-width: 1270px;
  border-width: 5px;
  border-style: solid;
  border-color: #f8d098;
}

.grid-container > div {
  background-color: #067242;
  text-align: center;
  /*padding: 20px 0;*/
  font-size: 1.5em;
  color: #f8D098;
}

/*this is view recipes by category page - All, Recipe, Serve Time, Servings
.centeredTable th {
  background-color: ForestGreen;
}
*/

/*may be only Add Recipe on add.html and possibly Username and Password*/
h1 {
 text-align: center;
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight; bold;
  font-size: 3rem;
}

h2 {
    text-align: center
}

#searchParent {
    list-style: none;
    width: 1270px;
    overflow: hidden;
    text-align: center;
}

#searchParent > li {
    display: inline-block;
    align: center;
    margin-top: 4px;
    margin-left: 8em;
    padding-right: 4px;
}

#searchParent input, textarea {
    background-color: #f8d098;
    height: 22px;
    width: 180px;
    padding-left: 8px;
}

/*login page styling*/
.login-cards {
    margin: 4em auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    font-weight: bold;
    height: 600px;
}

/*cards on login page; pictures are not displaying at this time - don't know why.
  I just put borders around cards for now*/

.loginCard-1 {
    background: url('../login/images/avocados.jpg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    border-radius: 10px 100px / 120px;
}
.loginCard-2 {
    background: url('../login/images/glutenfree.jpg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    margin: 0;
    border-radius: 10px 100px / 120px;
}

.loginCard-3 {
    background: url('../login/images/vegincircle.jpg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    margin: 0;
    border-radius: 10px 100px / 120px;
}

/*username and password styling*/
 .form-group {
    align: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1em;
 }

 .form-group label {
   margin-bottom: 1em;
   margin-top: 1em;
 }

 /*this controls the username and password boxes user types in*/
 .form-control {
    background-color: #f8D098;
     width: 50%;
     padding: 1.3em;
     border: hidden;
     border-radius: .5em;
 }

/*checkboxes layout*/
.checkbox-cards {
    margin: auto;
    max-width: 1270px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    font-weight: bold;
    height: 500px;
}
.checkbox-cards p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;

}

/*styling for each card on choices page, includes images*/
.card-1 {
  background: url('../images/strawberries.jpg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;

}
.card-2 {
  background: url('../images/ingredients.jpg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;

}
.card-2 p {
  color: Crimson;
}
.card-3 {
  background: url("../images/betteringredients.jpg");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}
.card-3 p {
 color: DarkGreen;
}
.card-3 card-content {
   margin-top: 5rem;
}

.card-4 {
  background: url('../images/manyclocks.jpg');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

.card-4 p {
 color: DarkBlue;
}

.card-image {
   width: 100%;
   position: relative;
   display: block;
   border-radius: 10px;
}

.card-content {
  margin-top: 4em;
  line-height: 2em;
  font-size: 1.0rem;
  background: #098b54;
  grid-template-row: 4/6;

  }

  /*footer and buttons; not button for logout. this is on recipes choices page*/
  .footer {
     background-color: #098b54;
     height: 3em;
     margin: 2em auto;
     width: 1270px;
     text-align: center;
  }

.btn {
    color: #F8D098;
    background-color: #003e21;
    border: hidden;
    border-radius: 15px;
    box-shadow: 0 4px #f8d098;
    display: inline-block;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
}

/*login button only*/
.loginbtn {
  background-color: #003e21;
  box-shadow: 0 5px #F8D098;
  width: 50%;
  padding: 1em;
  border-radius: .5em;
  margin-left: 70px;

}
/*registration button*/
.registerbtn {
   background-color: #003e21;
   box-shadow: 0 5px #F8D098;
   width: 50%;
   padding: 1em;
   border-radius: .5em;
   margin-top: 120px;
   margin-left: 5px;
   text-decoration: none;
}

/*go to recipe choices page button*/
.optionsbtn {
  background-color: #003e21;
     box-shadow: 0 5px #F8D098;
     width: 50%;
     padding: 1em;
     border-radius: .5em;
     margin-left: 3px;
     text-decoration: none;
}
/*add recipe button*/
.addRecipeBtn {
  background-color: MediumSlateBlue;
    box-shadow: 0 5px #666;
    width: 50%;
    padding: 1em;
    border-radius: .5em;
    margin-left:  30px;
    margin-top: 1em;
}

/* list.html CSS Grid */
.list-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 2em auto;
    width: 1270px;
}

.list-container > div {
  background-color: #067242;
  color: #f8D098;
  text-align: center;
  font-size: 125%;
  border-width: 5px;
  border-style: solid;
  border-color: #f8d098;
}

.list-context {
    font-size: 75%;
}

a, li {
    color: #f8d098;
}

.pagination {
    clear:both;
    position:relative;
    font-size:12px;
    text-align:center;
}

.pagination li, .pagination a {
    display:inline-block;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    background: #098b54;
}

.pagination .current{
    padding:6px 9px 5px 9px;
    font-weight: bold;
    background: #0950E8;
}

/*Registration Form*/
.register-form form {
    background-color: #067242;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-gap: 2em;
    margin: auto;
    max-width: 1270px;
    padding-top: 1em;
    font-family: Montserrat;
 }

.register-form label {
    grid-column: 1 / 2;
    color: #f8d098;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.register-form input {
    grid-column: 2 / 3;
    background-color: #f8d098;
    border: hidden;
    width: 60%;
}

.register-form input[type=submit]  {
    background-color: #003e21;
     box-shadow: 0 5px #F8D098;
     width: 95px;
     height: 25px;
     border-radius: .5em;
     text-align: center;
     text-decoration: none;
     margin-left: 185px;
}

.error p {
    grid-columns: 2 / 3;
}

img {
    height: 200px;
    width: auto;
}

