<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/health_recipe.css}" rel="stylesheet" />
</head>
<body>
<div>
    <section class="nav-scope">
        <ul class="nav-section">
            <li class="nav-logo">
                <a th:href="@{/admin-home}" aria-label="Health Recipe">Health Recipe
                </a>
                <a th:href="@{/logout}">
                    <button type="button" class="nav-btn btn-primary btn-lg" style="float:right;">LogOut</button>
                </a>
            </li>
            <div class="nav-links">
                <li class="nav-recipes">
                    <a th:href="@{/admin/list}">Recipes</a>
                </li>
                <li class="nav-search">
                    <a th:href="@{/admin/search}">Search</a>
                </li>
                <li class="nav-add-ingredient">
                    <a th:href="@{/ingredient/add}">Add Ingredient</a>
                </li>
                <li class="nav-add-admin">
                    <a th:href="@{/admin/add-admin_user}">Add Admin User</a>
                </li>
            </div>
        </ul>
    </section>
</div>

<h1>Add Recipe</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${recipe.name}"/>
        <span th:errors="${recipe.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="timeToServe">Serve Time</label>
        <input class="form-control" th:field="${recipe.serve_time}"/>
        <span th:errors="${recipe.serve_time}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="servings">Servings</label>
        <input class="form-control" th:field="${recipe.servings}"/>
        <span th:errors="${recipe.servings}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="stepsToRecipe">Steps</label>
        <textarea class="form-control" th:field="${recipe.steps}"/>
        <span th:errors="${recipe.steps}" class="error"></span>
    </div>

    <input class="btn btn-primary" type="submit" value="Add Recipe" />
</form>

</body>
</html>