<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/health_recipe.css}" rel="stylesheet" />
</head>
<!--</html> class="container body-content-1">-->
<body>
<div th:replace="fragments :: page-header"></div>

<h1>Add Recipe</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${recipe.name}"/>
        <span th:errors="${recipe.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="timeToServe">Serve Time</label>
        <input class="form-control" th:field="${recipe.serve_time}"/>
        <span th:errors="${recipe.serve_time}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="servings">Servings</label>
        <input class="form-control" th:field="${recipe.servings}"/>
        <span th:errors="${recipe.servings}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="stepsToRecipe">Steps</label>
        <input class="form-control" th:field="${recipe.steps}"/>
        <span th:errors="${recipe.steps}" class="error"></span>
    </div>
<!--    <div class="form-group">-->
<!--        <label th:for="ingredient">Ingredient</label>-->
<!--        <input class="form-control" th:field="${ingredient}"/>-->
<!--        <span th:errors="${ingredient}" class="error"></span>-->
<!--    </div>-->

    <input class="btn btn-primary addRecipeBtn" type="submit" value="Add Recipe" />
</form>

</body>
</html>