<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>


<div th:replace="fragments :: page-header"></div>

<div id = "search-container">

    <ul id = "searchParent">
        <li>
            <h2>View or Search Recipes</h2>
        </li>

        <li>
            <form th:action="@{/search/results}" method = "post">

                <!--
                                <span th:each="column : ${columns}">
                                    <input
                                            type="radio"
                                            name="searchType"
                                            th:id="${column.key}"
                                            th:value="${column.key}"
                                            th:checked="${column.key == 'all'}"/>
                                    <label th:for="${column.key}" th:text="${column.value}"></label>
                                </span>
                -->
        <li>
            <input type="text" name="searchTerms" />

            <input type="submit" value="Search" />
        </li>
        </form>
        </li>
    </ul>
</div>

<div class="list-container">

    <div class="list1" th:each="recipe : ${recipes}">
        <a th:href="@{'/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
        <div class="list-context">
            <p th:text="${'Serve Time: ' + recipe.serve_time}"></p>
            <p th:text="${'Servings: ' + recipe.servings}"></p>
        </div>
    </div>
</div>

<div class="navigation">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=0">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=1">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">3</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">4</a></li>
        <li class="page-item"><a class="page-link" href="?page=4">5</a></li>
    </ul>
</div>

</body>
</html>