<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="recipe-listing">
        <tr th:each="recipe : ${recipes}">
            <td>
                <p>
                    Recipe Name:
                    <a th:href="@{'/view/' + ${recipe.name}}" th:text="${recipe.name}"></a>
                </p>
                <p>
                    Servings
                    <a th:href="@{'/view/' + ${recipe.servings}}" th:text="${recipe.servings}"></a>
<!--                    <a th:text="${'Name: ' + recipe.name}">-->
                </p>
                <p>
                    Prep to Serve Time:
                    <a th:href="@{'/view/' + ${recipe.serve_time}}" th:text="${recipe.serve_time}"></a>
                </p>

            </td>
        </tr>
    </table>

</div>

</body>
</html>
