<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link th:href="@{/css/health_recipe.css}" rel="stylesheet"/>

    <title>Health Recipes</title>
</head>

<body>

<div class="site-content">
    <section class="nav-scope">
        <ul class="nav-section">
            <li class="nav-logo">
                <a th:href="@{/}" aria-label="Health Recipe">Health Recipe
                </a>
            </li>
        </ul>
    </section>
</div>

<div class="login-cards">
    <div class="loginCard-1 card-image1">
        <!--                 <img th:src="@{../images/avocados.jpg}" alt="none displayed"/>-->

        <div class="loginForm">
            <!--              <img th:src="@{../images/avocados.jpg}" alt="none displayed"/>-->
            <form method="post">
                <div class="form-group">
                    <label th:for="username">Username</label>
                    <input class="form-control" th:field="${loginFormDTO.username}" alt="none to display"/>
                    <span class="error" th:errors="${loginFormDTO.username}"></span>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" th:field="${loginFormDTO.password}" type="password"/>
                    <span class="error" th:errors="${loginFormDTO.password}"></span>
                </div>
                <br>
                <input class="btn btn-primary loginbtn" type="submit" value="Log In"/>
            </form>
        </div>
    </div>
    <div class="loginCard-2">
        <div class="form-group">

            <p>Don't Have An Account?     </p>

            <a href="/register" class="btn btn-primary registerbtn">Register</a>
        </div>
    </div>
    <div class="loginCard-3">
        <div class="form-group">

            <p>Choose Recipe Options<br>Without Registering or Login </p>

            <a href="index" class="btn btn-primary optionsbtn">Click Here.</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>