<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link th:href="@{/css/health_recipe.css}" rel="stylesheet"/>

    <title>Health Recipes</title>
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<h2>REGISTER</h2>

<div class="register-form">
    <form method="post">

        <label>Name</label>
        <input class="register-control" th:field="${registerFormDTO.name}"/>

        <span class="error" th:errors="${registerFormDTO.name}"></span>

        <label>Email</label>
        <input class="register-control" th:field="${registerFormDTO.email}"/>

        <p class="error" th:errors="${registerFormDTO.email}"></p>

        <label>Username</label>
        <input class="register-control" th:field="${registerFormDTO.username}"/>

        <p class="error" th:errors="${registerFormDTO.username}"></p>

        <label>Password</label>
        <input class="register-control" th:field="${registerFormDTO.password}" type="password"/>

        <p class="error" th:errors="${registerFormDTO.password}"></p>

        <label>Verify Password</label>
        <input class="register-control" th:field="${registerFormDTO.verifyPassword}" type="password"/>

        <input type="submit" class="btn btn-primary" value="Register"/>
    </form>
</div>

</body>
</html>