<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Recipe Search Results</h2>
</div>

    <div class="grid-container" th:each="recipe : ${recipes}">
        <div class="item1">
            <p th:text="${recipe.name}"></p>
        </div>
        <div class="item2">Total Time
            <p th:text="${recipe.serve_time}"></p>
        </div>
        <div class="item3">Servings
            <p th:text="${recipe.servings}"></p>
        </div>
        <div class="item4">Ingredients</div>
        <div class="item5">Directions
            <p th:text="${recipe.steps}"></p>
        </div>
    </div>

</body>
</html>