<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Search Recipe Database</h2>
</div>

 <div>
    <form th:action="@{/search/results}" method = "post">

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>
    </form>
</div>

<div class="search-container">

        <label for="searchTerms">Keyword(s): <input type="text" name="searchTerms" id="searchTerms" /></label>

        <input type="submit" value="Search" />

 </div>

<!--Remove ID: from line 42 before final deployment; is currently being used for referencing recipe IDs-->
    <div class="grid-container" th:each="recipe : ${recipes}">
        <div class="item1">
            <p th:text="${recipe.name + ' | ID: ' + recipe.id}"></p>
        </div>
        <div class="item2">Total Time
            <p th:text="${recipe.serve_time}"></p>
        </div>
        <div class="item3">Servings
            <p th:text="${recipe.servings}"></p>
        </div>
        <div class="item4">Ingredients</div>
        <div class="item5">Directions
            <p th:text="${recipe.steps}"></p>
        </div>
    </div>

</div>

</body>
</html>