<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: page-header"></nav>

<div class="grid-container" th:each="recipe : ${recipes}">
    <p>
        <a th:href="@{'/list/' + ${recipe.id}}"></a>
    </p>
    <div class="item1">
        <p th:text="${recipe.name}"></p>
    </div>
    <div class="item2">Total Time
        <p th:text="${recipe.serve_time}"></p>
    </div>
    <div class="item3">Servings
        <p th:text="${recipe.servings}"></p>
    </div>
    <div class="item4">Ingredients</div>
    <div class="item5">Directions
        <p th:text="${recipe.steps}"></p>
    </div>
</div>


</body>
</html>